#movie-image{
    height: 50%; 
    width: 50%; 
    margin-left: 40px;
    justify-content: left;
}

#movieBanner{

    justify-content: left;
}

.card-info{
    margin-left: 600px;
    margin-top: 20px;
    width: 50%;
    font-size: 30px;
}

.card-title{
    margin-left: 640px;
    font-size: 30px;
    font-weight: bold;
}   